# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Asset Store tools cache
[Uu]serSettings/

# IDE / Editor files
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo
*.tmp

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity Addressables
ServerData/

# Visual Studio cache
.vs/